
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a href="#" class="navbar-left"><img src="/public/img/atlantic_pkg.png"></a>
      <a class="navbar-brand" img="/public/img/atlantic_pkg.png" src="/public/img/atlantic_pkg.png">Atlantic Packaging</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            {{!-- <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li> --}}
            <li class="nav-item">
              <a class="nav-link" href="/completed">Completed Loads</a>
            </li> 
          </ul>

        

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <h1>Load Board</h1>

<section class="row text-center placeholders">
            
            <div class="col-sm-6">
{{! Button trigger Update Truckload modal }}
{{!-- <button id="buttonUpdateTruck" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
    Update Truckload
</button>
</div> --}}
<div class="col-sm-2">
{{! Button trigger New Lane modal  }}
<button id="addLaneButton" class="btn btn-primary btn-lg">
  <a class="nav-link" id="addLaneButton" href="/addlane">Add Lane</a>
</button>

</div>
</section>
          <h2>Open Loads</h2>

{{! Table of loads }}

          <div id="loadbox" class="table-responsive" >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID#</th>
                  <th>Created At</th>
                  <th>Lane</th>
                  <th>PickUp Date</th>
                  <th>Status</th>
                  <th>Update Load Status</th>
                  <th>PickUp Number</th>
                  <th>PO Number</th>
                  <th>Additional Info</th>
                  {{!-- <th>Complete</th> --}}
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              <container class="box">
               {{#each truckloads}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>{{this.lane}}</td>
                  <td>{{this.pickUpDate}}</td>
                  <td>{{this.status}}</td>
                  {{!-- Update --}}
                  <td>
                    <form action="/update/{{this.id}}" method="POST">                 
                    <span>
                    <input name="statusInput" type="text" class="form-control" id="statusInput" placeholder="Status">
                    <button id="statusInput" class="btn btn-primary btn-sm" type="submit">Update</button>
                    </span>
                    </form> 
                  </td>
                  <td>{{this.pickUpNumber}}</td>
                  <td>{{this.poNumber}}</td>
                  <td>{{this.additionalInfo}}</td>
                  {{!-- Complete --}}
                  {{!-- <form action="/completed/:{{this.id}}" method="POST">
                  <span>
          				  <td><button id="completed" class="btn btn-primary btn-lg" type="submit">Complete</button></td>
                  </span>
                  </form> --}}
                  {{!-- Delete --}}
                  <form action="/{{this.id}}" method="POST">
                  <span>
          				  <td><button id="delete" class="btn btn-primary btn-lg" type="submit">Delete</button></td>
                  </span>
                  </form>
                </tr>
                {{/each}}
              </container>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12">
             <img id="pic" src="http://mustmethod.com/wp-content/uploads/2017/01/Atlantic-logo.png" alt="atlanticpkg" >
          </div>
        </main>
      </div>
	</div>    